@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 70% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 45 27% 96%;
    --secondary-foreground: 0 0% 10%;

    --muted: 90 18% 92%;
    --muted-foreground: 32 17% 75%;

    --accent: 32 17% 75%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 45 27% 90%;
    --input: 45 27% 90%;
    --ring: 0 70% 35%;

    --radius: 0.5rem;

    --sidebar-background: 45 27% 96%;

    --sidebar-foreground: 0 0% 10%;

    --sidebar-primary: 0 70% 35%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 90 18% 92%;

    --sidebar-accent-foreground: 0 0% 10%;

    --sidebar-border: 32 17% 85%;

    --sidebar-ring: 0 70% 35%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 70% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 32 17% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 32 17% 20%;
    --muted-foreground: 32 17% 75%;

    --accent: 32 17% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 32 17% 25%;
    --input: 32 17% 25%;
    --ring: 0 70% 45%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 70% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 32 17% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 32 17% 25%;
    --sidebar-ring: 0 70% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}